.OrdersListPage {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: martel sans, sans-serif;
    font-weight: 300;
    margin: 120px 60px;

}

.OrdersListPage .Options {
    grid-column: span 1;
}

.OrdersListPage .OptionButton,
.OrdersListPage .OptionButtonSelected {
    display: grid;
    align-content: center;
    justify-content: start;
    width: 365px;
    height: 56px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #313030;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-family: martel sans, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

.OrdersListPage .OptionButtonSelected {
    background-color: #ebedf0;
}

.OrdersListPage .Orders {
    display: grid;
    grid-column: span 4;
    margin-right: 100px;
}

.OrdersListPage .PageTitle {
    font-size: 40px;
    color: #3F4255;
    margin-left: 40px;
}

.OrdersListPage .separator {
    background: #d4d7e5;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.OrdersListPage .OrderList {
    list-style: none;
}

.OrdersListPage .OrderInfo {
    margin: 20px 0;
}

.OrdersListPage .OrderInformation {
    padding: 10px;

}

.OrdersListPage .OrderInformation:hover {
    cursor: pointer;
    background-color: #ebedf0;
}


@media (max-width: 950px) {
    .OrdersListPage {
        grid-template-columns: 1fr;
    }


    .OrdersListPage .Orders {
        grid-column: span 1;
        justify-content: center;
    }

}