.SelfHarvestListPage {
    margin: 130px 80px 50px 80px;
    display: grid;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 300;
}

.SelfHarvestListPage .search {
    display: flex;
    width: 100%;
}

.SelfHarvestListPage .searchContainer {
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    gap: 8px;
    letter-spacing: 0.5px;
    flex-wrap: wrap;
    margin-right: 15px;
    width: 100%;
}

.SelfHarvestListPage .searchIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    margin-left: 15px;
}

.SelfHarvestListPage .searchInput {
    font-size: 20px;
    padding: 20px;
    flex: 1;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

@media (max-width: 991px) {
    .searchInput {
        max-width: 100%;
    }
}

.SelfHarvestListPage .PageTitle {
    margin: 40px 0;
    display: flex;
    font-size: 40px;
    justify-content: center;
    color: #3F4255;
}

@media (max-width: 768px) {
    .SelfHarvestListPage .PageTitle {
        font-size: 30px;
    }

    .SelfHarvestListPage .searchContainer {
        flex-direction: column;
        align-items: stretch;
    }

    .SelfHarvestListPage .searchInput {
        margin-top: 10px;
    }
}

.SelfHarvestListPage .separator {
    background: #d4d7e5;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.SelfHarvestEvents {
    display: grid;
    justify-content: center;
}

