.ProfilePage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 120px 60px;
}

.ProfilePage .Options {
    grid-column: span 1;
}

.ProfilePage .OptionButton,
.ProfilePage .OptionButtonSelected {
    display: grid;
    align-content: center;
    justify-content: start;
    width: 365px;
    height: 56px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #313030;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-family: martel sans, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

.ProfilePage .OptionButtonSelected {
    background-color: #ebedf0;
}

.ProfilePage .Contacts {
    grid-column: span 1;
}

.ProfilePage .Contacts p {
    display: grid;
    justify-content: center;
    font-family: martel sans, sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.ProfilePage .registerForm {
    display: grid;
    justify-content: center;
}

.ProfilePage .formLeft {
    display: flex;
    width: 100%;
}

.ProfilePage .icon {
    height: 24px;
    width: 24px;
    margin: 13px 10px 13px 10px;
}

.ProfilePage .form {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    display: flex;
    border-radius: 8px;
    margin-bottom: 30px;
}

.ProfilePage .formGroup {
    width: 400px;
}


.ProfilePage .formLeft input, .ProfilePage .formLeft span {
    font-family: martel sans, sans-serif;
    font-weight: 300;
    line-height: 20px;
    font-size: 16px;
    padding: 16px 16px 12px 0;
    border: 1px solid #ffffff;width: 100%;
}

.ProfilePage .Buttons {
    display: flex;
    justify-content: space-between;
}

.ProfilePage .Change{
    width: 135px;
    height: 56px;
    padding: 10px;
    background-color: #ebedf0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #313030;
    margin: 10px auto 30px;
}

.ProfilePage .formCompo {
    display: grid;
    justify-content: center;
}

.ProfilePage .Submit {
    width: 165px;
    padding: 10px;
    background-color: #FFE145;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #B79C10;
    margin: 0 auto 30px;
}

.ProfilePage .checkboxLabel {
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.ProfilePage .checkboxLabel p {
    padding-top: 8px;
}

@media (max-width: 1400px) {
    .ProfilePage .Contacts {
        grid-column: span 2; /* Span across two columns */
    }
}

@media (max-width: 950px) {
    .ProfilePage {
        grid-template-columns: 1fr; /* Stack in one column on smaller screens */
    }

    .ProfilePage .Contacts {
        grid-column: span 1; /* Ensure contacts span across one column */
    }
}