.EditUserPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.EditUserPage .Options {
    margin: 120px 60px;
    grid-column: span 1;
}

.EditUserPage .OptionButton {
    width: 405px;
    height: 56px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #313030;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-family: martel sans, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;

    display: grid;
    align-content: center;
    justify-content: start;
}

.EditUserPage .OptionButtonSelected {
    width: 405px;
    height: 56px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #313030;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: #ebedf0;
    font-family: martel sans, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;

    display: grid;
    align-content: center;
    justify-content: start;
}

.EditUserPage .UserInfo {
    display: grid;
    justify-content: center;
    grid-column: span 3;
    margin: 120px 100px 0px 0px;
}

.EditUserPage .Title {
    font-family: martel sans, sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.EditUserPage .UserInfo .Compo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.EditUserPage .form {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    display: flex;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.EditUserPage .form p {
    align-content: center;
}

.EditUserPage .form .icon {
    height: 24px;
    width: 24px;
    margin: 13px 10px 13px 10px;
}

.EditUserPage .buttonUser {
    display: grid;
    justify-content: center;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border: none;
    height: 136px;
    width: 136px;
    font-family: martel sans, sans-serif;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px;
    cursor: pointer;
}

.EditUserPage .buttonUser .icon {
    display: flex;
    margin: 10px 30px 0px 30px;
}

.EditUserPage .ButtonsCompo {
    display: flex;
    gap: 1rem;
}