.OffersListPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: martel sans, sans-serif;
    font-weight: 300;
    margin: 120px 60px;
}

.OffersListPage .Options {
    grid-column: span 1;
}

.OffersListPage .OptionButton,
.OffersListPage .OptionButtonSelected {
    display: grid;
    align-content: center;
    justify-content: start;
    width: 365px;
    height: 56px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #313030;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-family: martel sans, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

.OffersListPage .OptionButtonSelected {
    background-color: #ebedf0;
}

.OffersListPage .Contacts {
    grid-column: span 1;
}

.OffersListPage .Offers {
    display: grid;
    justify-content: center;
    grid-column: span 3;
}

.OffersListPage .PageTitle {
    font-size: 40px;
    color: #3F4255;
    margin-left: 40px;
}

.OffersListPage .OfferCard {
    margin: 10px 20px 0 40px;
}

.OffersListPage .OfferWrapper {
    margin-bottom: 20px;
}

.OffersListPage .ProductName {
    font-size: 30px;
}

.OffersListPage .separator {
    background: #d4d7e5;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.OffersListPage .NewOffer .AddSelfHarvest {
    margin-left: 40px;
}

.OffersListPage .AddSelfHarvest {
    background-color: #F2F4FA;
    border: none;
    height: 48px;
    padding: 13px 20px;
    font-family: martel sans, sans-serif;
    font-weight: bold;
    color: #9093A6;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.OffersListPage .AddSelfHarvest:hover {
    background-color: #EBEDF0;
    transform: scale(1.05);
}

.OffersListPage .SelfHarvestEvents {
    margin-top: 15px;
}


.OffersListPage .ApproveButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
}

.OffersListPage .ApproveButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.OffersListPage .DisapproveButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
}

.OffersListPage .DisapproveButton:hover {
    background-color: #e53935;
    transform: scale(1.05);
}

.OffersListPage .ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.OffersListPage .Modal {
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.OffersListPage .ModalText {
    font-size: 30px;
    text-align: center;
}

.OffersListPage .ModalDate {
    display: grid;
    justify-content: center;
}

.OffersListPage .ModalActions{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.OffersListPage .Update {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.OffersListPage .Update input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.OffersListPage .Update button {
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #FFE145;
    color: #B79C10;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.OffersListPage .Update button:hover {
    background-color: #F8D140;
    transform: scale(1.05);
}

@media (max-width: 950px) {
    .OffersListPage {
        grid-template-columns: 1fr;
    }

    .OffersListPage .Contacts {
        grid-column: span 1;
    }
}