.FarmersPage {
    margin: 70px 80px 50px 80px;
    display: grid;
    justify-content: center;
    padding-top: 50px;
}

.FarmersPage .PageTitle {
    display: flex;
    font-size: 40px;
    font-family: Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
    color: #3F4255;
    margin-top: 30px;
}

.FarmersPage .icon {
    margin-top: 6px;
    width: 48px;
    height: 48px;
}

.FarmersPage .UserComponent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 0px;
}

.FarmersPage .userCompo {
    list-style: none;
    display: grid;
    width: 296px;
    height: 296px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
}

.FarmersPage .userCompo img {
    margin: 0;
}

.FarmersPage .UserInfo {
    height: 112px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-family: martel sans, sans-serif;
    line-height: 30px;
}

.FarmersPage .search {
    display: flex;
    justify-content: center;
    height: 50px;
    position: relative;  /* Add this to avoid overlapping with other content */
    z-index: 10;
}

.FarmersPage .searchContainer {
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    gap: 8px;
    letter-spacing: 0.5px;
    flex-wrap: wrap;
    font: 300 16px Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    max-width: 100%;
    width: 1600px;
    margin-right: 15px;
}

.FarmersPage .searchIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    margin-left: 15px;

}

.FarmersPage .searchInput {
    padding-top: 11px;
    flex: 1;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 20px;
    font-family: Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
}

@media (max-width: 991px) {
    .searchInput {
        max-width: 100%;
    }
}

.FarmersPage .SearchButton {
    width: fit-content;
    height: 70px;
    padding: 20px;
    background-color: #FFE145;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #B79C10;
}