.Home-page {
    margin: 124px 80px 50px 80px;
}

.HomePage .heading {
    font-size: 80px;
    width: 800px;
    padding-top: 120px;
    padding-left: 130px;
    font-family: poppins, serif;
    color: #3F4255;
    line-height: 90px;
}

.HomePage .information {
    display: flex;
    gap: 2rem;
    padding-top: 70px;
    padding-left: 130px;
}

.HomePage .info {
    display: grid;
    justify-content: center;
    text-align: center;
    border: 2px solid #FFE145;
    color: #3F4255;
    border-radius: 10px;
    height: 100px;
    width: fit-content;
    padding: 10px 30px;
    font-family: martel sans, sans-serif;
}

.HomePage .benefits {
    margin-top: 250px;
    margin-left: 130px;
    display: flex;
    gap: 2rem;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    width: fit-content;
    padding: 30px 30px;
}

.HomePage .benefitItem {
    font-family: martel sans, sans-serif;
    display: flex;
    gap: 1rem;
    width: 250px;
}

.HomePage .benefitItem img {
    width: 48px;
    height: 48px;
}

.HomePage .foodIcon {
    position: absolute;
    top: 100px;
    right: 150px;
}

.HomePage .farmers {
    padding-top: 150px;
    padding-left: 130px;
    padding-right: 130px;
}

.HomePage .compo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.HomePage .compo p {
    font-size: 40px;
    font-family: poppins, sans-serif;
    font-weight: 300;
}

.HomePage .compo .ShowAllButton {
    background-color: #F2F4FA;
    border: none;
    height: 48px;
    padding: 13px 20px;
    font-family: martel sans, sans-serif;
    font-weight: bold;
    color: #9093A6;
    font-size: 16px;
}

.HomePage .Self_Harvest{
    display: grid;
    justify-content: center;
    background-color: #F2F4FA;
}

.HomePage .title {
    display: flex;
    justify-content: center;
    font-family: martel sans, sans-serif;
    font-weight: 300;
    font-size: 40px;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #3F4255;
}

.HomePage .Self_Harvest img {
    margin-top: 10px;
    width: 48px;
    height: 48px;
}

.HomePage .HarvestText{
    width: 500px;
    font-family: martel sans, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3F4255;
}

.HomePage .Self_Harvest .ShowAllButton {
    background-color: #ffffff;
    border: none;
    height: 48px;
    padding: 13px 20px;
    font-family: martel sans, sans-serif;
    font-weight: bold;
    color: #9093A6;
    font-size: 16px;
    margin: 40px auto;
}

.HomePage .Harvest_compo {
    display: contents;
}

.HomePage .categories {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
}

.HomePage .instagram {
    padding: 50px 130px;
}

.HomePage .instagram_text {
    display: flex;
    gap: 7px;
    font-family: martel sans, sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.HomePage .instagram_img {
    display: flex;
    justify-content: space-between;
}


.HomePage .UserInfo {
    height: 112px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-family: martel sans, sans-serif;
    line-height: 30px;
}


.HomePage .scrollContainer {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: calc(296px * 5.4 + 30px * 4);
    margin-bottom: 100px;
    padding: 30px;
}

.HomePage .UserComponent {
    display: flex;
    transition: transform 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.HomePage .userCompo {
    list-style: none;
    display: grid;
    align-content: center;
    width: 296px;
    height: 296px;
    margin-right: 30px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.03);
}

.HomePage .scrollButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    color: #333;
    transition: background-color 0.3s;
}

.HomePage .scrollButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.HomePage .scrollButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.HomePage .scrollButton:first-child {
    left: 0;
}

.HomePage .scrollButton:last-child {
    right: 0;
}
