.heading {
    font-size: 80px;
    width: 800px;
    padding-top: 120px;
    padding-left: 130px;
    font-family: poppins, serif;
    color: #3F4255;
    line-height: 90px;
}

.information {
    display: flex;
    gap: 2rem;
    padding-top: 70px;
    padding-left: 130px;
}

.info {
    display: grid;
    justify-content: center;
    text-align: center;
    border: 2px solid #FFE145;
    color: #3F4255;
    border-radius: 10px;
    height: 100px;
    width: fit-content;
    padding: 10px 30px;
    font-family: martel sans, sans-serif;
}

.benefits {
    margin-top: 250px;
    margin-left: 130px;
    display: flex;
    gap: 2rem;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    width: fit-content;
    padding: 30px 30px;
}

.benefitItem {
    font-family: martel sans, sans-serif;
    display: flex;
    gap: 1rem;
    width: 250px;
}
.benefitItem img {
    width: 48px;
    height: 48px;
}

.foodIcon {
    position: absolute;
    top: 100px;
    right: 150px;
}

.farmers {
    padding-top: 150px;
    padding-left: 130px;
    padding-right: 130px;
}

.compo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.compo p {
    font-size: 40px;
    font-family: poppins, sans-serif;
    font-weight: 300;
}

.compo .ShowAllButton {
    background-color: #F2F4FA;
    border: none;
    height: 48px;
    padding: 13px 20px;
    font-family: martel sans, sans-serif;
    font-weight: bold;
    color: #9093A6;
    font-size: 16px;
}

.Self_Harvest{
    display: grid;
    justify-content: center;
    background-color: #F2F4FA;
}

.title {
    display: flex;
    justify-content: center;
    font-family: martel sans, sans-serif;
    font-weight: 300;
    font-size: 40px;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #3F4255;
}

.Self_Harvest img {
    margin-top: 10px;
    width: 48px;
    height: 48px;
}

.HarvestText{
    width: 500px;
    font-family: martel sans, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3F4255;
}

.Self_Harvest .ShowAllButton {
    background-color: #ffffff;
    border: none;
    height: 48px;
    padding: 13px 20px;
    font-family: martel sans, sans-serif;
    font-weight: bold;
    color: #9093A6;
    font-size: 16px;
    margin: 40px auto;
}

.Harvest_compo {
    display: contents;
}

.categories {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
}

.instagram {
    padding: 50px 130px;
}

.instagram_text {
    display: flex;
    gap: 7px;
    font-family: martel sans, sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.instagram_img {
    display: flex;
    justify-content: space-between;
}

