.CategoriesPage {
    margin: 5em;
}

.CategoriesPage .PageTitle {
    display: flex;
    font-size: 40px;
    font-family: Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
    color: #3F4255;
}

.CategoriesPage .CategoryName {
    font-family: Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.CategoriesPage .separator {
    background: #d4d7e5;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.CategoriesPage .CategoryCompo {
    margin-left: 1rem;
}

.CategoriesPage .SubcategoryCompo {
    display: flex;
    gap: 27px;
    margin-left: 1rem;
}

.CategoriesPage img {
    margin: auto;
}

.CategoriesPage .categoryButton {
    margin: 10px;
    background: #ffffff;
    height: 136px;
    width: 136px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    display: grid;
    justify-items: center;
    border: none;
}

.CategoriesPage .AddCompo {
    display: flex;
    margin-left: 37px;
}



.CategoriesPage .AddInput {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CategoriesPage .AddInput input {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.CategoriesPage .ProductsList {
    display: flex;
    gap: 24px;
}

.CategoriesPage .Products {
    display: grid;
    height: 334px;
    width: 296px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.CategoriesPage .Products img {
    margin: 0;
}

.CategoriesPage .ProductText {
    cursor: pointer;
    display: grid;
    justify-content: center;
    font-family: Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    height: 150px;
}

.CategoriesPage .categoryButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;  /* Цвет фона кнопки */
    border: none;
    padding: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.CategoriesPage .categoryButton:hover {
    background-color: #f0f0f0;  /* Светлый фон при наведении */
}



.CategoriesPage .AddInput button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.CategoriesPage .AddInput button:hover {
    background-color: #0056b3;
}

.CategoriesPage .ProductsCompo {
    display: flex;
}


