.ProductsPage {
    margin: 5rem;
    font-family: Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
    list-style: none;
}

.ProductsPage .PageTitle {
    font-size: 40px;
    color: #3F4255;
    text-align: center;
}

.ProductsPage .Title {
    margin-top: 2rem;
    font-size: 30px;
    color: #3F4255;
}

.ProductsPage .OfferList {
    list-style-type: none;
    padding: 0;
}

.ProductsPage .OfferGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

@media (max-width: 1200px) {
    .ProductsPage .OfferGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .ProductsPage .OfferGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .ProductsPage .OfferGrid {
        grid-template-columns: 1fr;
    }
}

.ProductsPage .OfferItem {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    width: 100%;
}

.ProductsPage .OfferItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.ProductsPage .OfferCompo {
    margin: 0 30px;
}

.ProductsPage .Text {
    margin: 5px 0;
}

.ProductsPage .PurchaseButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.ProductsPage .PurchaseButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.ProductsPage .PurchaseForm {
    background-color: #e9f7ef;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.ProductsPage .AddOffer {
    margin: 20px 50px;
}

.ProductsPage .AddOfferButton {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.ProductsPage .AddOfferButton:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.ProductsPage input {
    margin-left: 10px;
}

.ProductsPage .OfferForm {
    margin-top: 15px;
}

.ProductsPage .SubmitButton {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.ProductsPage .SubmitButton:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.ProductsPage .SuccessMessage {
    color: green;
    font-weight: bold;
}

.ProductsPage .CancelButton {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.ProductsPage .CancelButton:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.ProductsPage .RemoveProductButton {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 50px;
}

.ProductsPage .RemoveProductButton:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.ProductsPage .separator {
    background: #d4d7e5;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.ProductsPage .selfHarvestEvents {
    margin-top: 20px;
}

.ProductsPage .selfHarvestList {
    display: grid;
    gap: 15px;
}

.ProductsPage .selfHarvestCard {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.ProductsPage .eventAddress {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.ProductsPage .Buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
