.ProductsPage {
    margin: 5rem;
    font-family: Martel Sans, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
}

.ProductsPage .PageTitle {
    font-size: 40px;
    color: #3F4255;
    text-align: center;
}

.ProductsPage .Title {
    margin-top: 2rem;
    font-size: 30px;
    color: #3F4255;
}

.ProductsPage .OfferList {
    list-style-type: none;
    padding: 0;
}

.ProductsPage .OfferItem {
    padding: 15px;
    background-color: #fff;
}

.ProductsPage .PurchaseButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.ProductsPage .PurchaseButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.ProductsPage .PurchaseForm {
    background-color: #e9f7ef;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.ProductsPage .AddOffer {
    margin: 20px 50px;
}

.ProductsPage .AddOfferButton {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.ProductsPage .AddOfferButton:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.ProductsPage input {
    margin-left: 10px;
}

.ProductsPage .OfferForm {
    margin-top: 15px;
}

.ProductsPage .SubmitButton {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.ProductsPage .SubmitButton:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.ProductsPage .SuccessMessage {
    color: green;
    font-weight: bold;
}

.ProductsPage .CancelButton {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 2rem;
}

.ProductsPage .CancelButton:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.ProductsPage .RemoveProductButton {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 50px;
}

.ProductsPage .RemoveProductButton:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.ProductsPage .separator {
    background: #d4d7e5;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.ProductsPage .OfferCompo {
    margin: 0 30px;
}

.ProductsPage .EditUsersListPage .SearchButton {
    width: fit-content;
    height: 70px;
    padding: 20px;
    background-color: #FFE145;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #B79C10;
}

.ProductsPage .Update {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.ProductsPage .Update input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}