.ReviewPage {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: martel sans, sans-serif;
    font-weight: 300;
    margin: 120px 60px;
}


.ReviewPage .Options {
    grid-column: span 1;
}

.ReviewPage .OptionButton,
.ReviewPage .OptionButtonSelected {
    display: grid;
    align-content: center;
    justify-content: start;
    width: 365px;
    height: 56px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #313030;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-family: martel sans, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

.ReviewPage .OptionButtonSelected {
    background-color: #ebedf0;
}

.ReviewPage .Review {
    display: grid;
    grid-column: span 4;
    margin-right: 100px;
}

.ReviewPage .PageTitle {
    font-size: 40px;
    color: #3F4255;
    margin-left: 40px;
}

.ReviewPage .separator {
    background: #d4d7e5;
    height: 1px;
    width: 100%;
    margin: 10px 0;
}

.ReviewPage .ReviewList {
    list-style: none;
}

.ReviewPage .ReviewButton {
    background-color: #F2F4FA;
    border: none;
    height: 48px;
    padding: 13px 20px;
    font-family: martel sans, sans-serif;
    font-weight: bold;
    color: #9093A6;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}


.ReviewPage .ReviewButton:hover {
    background-color: #EBEDF0;
    transform: scale(1.05);
}


.ReviewPage .ApproveButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
}

.ReviewPage .ApproveButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.ReviewPage .DisapproveButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
}

.ReviewPage .DisapproveButton:hover {
    background-color: #e53935;
    transform: scale(1.05);
}

.ReviewPage input[type="number"] {
    width: 100px; /* Adjust input width as necessary */
    padding: 5px;
    margin-top: 5px;
}

.ReviewPage .ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ReviewPage .Modal {
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ReviewPage .ModalText {
    font-size: 30px;
    text-align: center;
}

.ReviewPage .ModalDate {
    display: grid;
    justify-content: center;
}

.ReviewPage .ModalActions{
    display: flex;
    justify-content: center;
    gap: 10px;
}


@media (max-width: 950px) {
    .ReviewPage {
        grid-template-columns: 1fr;
    }


    .ReviewPage .Orders {
        grid-column: span 1;
        justify-content: center;
    }

}